@font-face {
    font-family: "gamer";
    src: url("~/assets/fonts/gamer/Gamer-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "roboto";
    src: url("~/assets/fonts/roboto/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "roboto-bold";
    src: url("~/assets/fonts/roboto/Roboto-Bold.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "roboto-italic";
    src: url("~/assets/fonts/roboto/Roboto-Italic.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "roboto-bold-italic";
    src: url("~/assets/fonts/roboto/Roboto-BoldItalic.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$font-gamer: 'gamer';
$font-main: 'roboto';
$font-italic: 'roboto-italic';
$font-bold: 'roboto-bold';
$font-bold-italic: 'roboto-bold-italic';