* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: $font-main;
    &::-webkit-scrollbar {
        width: 0.4rem;
    }

    &::-webkit-scrollbar-track {
        background: $color-grey;
    }

    &::-webkit-scrollbar-thumb {
        background: $color-primary;
        border-radius: 35px;
    }
}
